.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.withPassword button {
  width: 7rem;
  height: 2rem;
  background-color: steelblue;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  color: rgb(216, 216, 216);
}

.withPassword input {
  text-align: center;
  margin-bottom: 0.3rem;
}

.orTag {
  display: flex;
  color: rgb(216, 216, 216);
  background-color: steelblue;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
