.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.4rem;
  border: none;
  border-bottom: 1px solid #aaa;
  text-align: center;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #16a085;
  transition: 0.2s ease;
  text-align: center;
}

.registerForm button {
  width: 7rem;
  height: 2rem;
  background-color: steelblue;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  color: rgb(216, 216, 216);
}
